body{background-color: rgb(244, 218, 183);
    color: rgba(17, 0, 255, 0.977);}
    .Heading{
        width: 80%;
    }
    #camera{border: 2px dashed rgb(35, 35, 249);width: 350px; height: 300px;}